.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 32px 24px;
    background-color: white;
    color: white;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--primary-color);

    & img {
        z-index: 0;
        right: 0;
        bottom: -320px;
    }
}

.inputWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 24px;
    gap: 12px;

    & input {
        width: 100%;
        min-width: 400px;
        padding: 12px;
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        transition: all 0.2s;

        &:focus {
            outline: none;
        }
    }

    & label {
        font-size: 18px;
    }
}
