.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.displayText {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & video {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        -webkit-clip-path: url(#text-overlay);
        clip-path: url(#text-overlay);
    }

    & svg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 120px;
        width: 100%;
        max-width: 1280px;
        height: 720px;
    }

    & svg text {
        border: 1px solid white;
    }
}

.footerText {
    position: absolute;
    bottom: 70px;
    left: 90px;
    right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    & p {
        max-width: 620px;
    }

    & small {
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
}
