@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary-color: #51aaaa;
    --warn: #e03939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    overflow: hidden;
}

h1,
svg text {
    text-transform: uppercase;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
