.map {
    width: 70%;
    height: 100%;
    position: relative;
    overflow: hidden;

    & .leafletMap {
        width: 100%;
        height: 100%;
    }

    & button {
        position: absolute;
        z-index: 999;
        bottom: 40px;
        left: 38%;
        right: 38%;
        opacity: 1;

        &:hover {
            opacity: 1;
        }
    }
}
