.backgroundGrid {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backgroundMap {
    position: absolute;
    z-index: -1;
    right: -2020px;
    bottom: -1955px;
}

.backgroundMapSmall {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
}
