.button {
    padding: 12px 67px;
    color: var(--primary-color);
    background-color: white;
    border: none;
    border: 1px solid #51aaaa;
    font-size: 18px;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.button.primary {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Inter", sans-serif;

    &:hover {
        background-color: var(--primary-color);
        color: white;
        border: white 1px solid;
    }
}
