.button {
    padding: 12px 67px;
    color: var(--primary-color);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border: 1px solid #51aaaa;
    font-size: 18px;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 10;
    font-family: "Inter", sans-serif;
}

.button.primary {
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background-color: var(--primary-color);
        color: white;
        border: white 1px solid;
    }
}

.button.secondary:hover {
    background-color: var(--primary-color);
    color: white;
    border: white 1px solid;
}

.button.secondaryWithBg {
    background-color: var(--primary-color);
    color: white;
    border: white 1px solid;
}

.button.button.secondaryWithBg:hover {
    color: var(--primary-color);
    background-color: white;
    border: var(--primary-color) 1px solid;
}
