/* Loading component styles */
.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding-top: 30vh;

    & p {
        margin-left: 24px;
        font-size: 32px;
    }
}

.loading.wide {
    width: 100%;
    height: 100vh;
    padding: 0;
}
