.message {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}

.error {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background-color: var(--warn);
    color: white;
}
